* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.navbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.navbar .nav-item a {
  color: #212529;
}

.nav-item {
  margin: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 25px;
  font-weight: bold;
}

.navbar .nav-item .btn {
  color: #fff;
  background-color: #f03e3e;
  border: 1px solid transparent;
  border-radius: 20px;
}

.nav-link.btn.btn-primary:hover {
  background-color: #fff;
  color: #f03e3e;
  border-color: #f03e3e;
}

#top-container {
  padding: 110px;
  background-color: #f7f9fc;
  border-bottom: 4px solid #013068;
  margin-bottom: 30px;
  background-image: url("../img/banner.jpg");
  /*background-position: 0 90px;*/
  background-size: inherit;
  color: #fff;
}

#main-title {
  padding: 30px 0;
  font-size: 3rem;
  color: #000;
}

#main-subtitle {
  font-size: 1rem;
  padding-bottom: 80px;
  color: #000;
}

#search-form {
  padding: 30px 100px;
}

#search-form .col-md-10,
#search-form .col-md-2 {
  padding: 0;
}

#search-form input,
#search-form button {
  /*width: 100px;*/
  border-radius: 20px;
  height: 50px;
  font-size: 18px;
}

#search-form button {
  color: #fff;
  background-color: #f03e3e;
  border: 1px solid transparent;
}

#search-form button:hover,
.list-group-item a:hover,
#form-box button:hover {
  background-color: #fff;
  color: #f03e3e;
  border-color: #f03e3e;
}

#jobs-container {
  margin-bottom: 8px;
  /*border: 1px solid #ccc;*/
}

#job-list .list-group-item {
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 15px 80px;
  color: #212529;
  height: 120px;
}

#job-list .list-group-item p {
  font-size: 14px;
  margin-bottom: 5px;
}

#job-list .list-group-item.new-job {
  border: none;
  background-color: #e8e7de;
}

#job-list-title {
  margin-bottom: 35px;
}

.list-group-item img {
  width: 95px;
  height: 70px;
  border: 1px solid #212529;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -40px;
  top: calc(50% - 35px);
}

.list-group-item a {
  position: absolute;
  right: 20px;
  top: 35px;
  height: 50px;
  line-height: 35px;
  background-color: #f03e3e;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #fff;
}

.new-job-label {
  background-color: #f03e3e;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
  right: 250px;
  top: 50px;
  display: none;
}

.new-job .new-job-label {
  display: block;
}

#add-form-container {
  margin-top: 100px;
}

#form-box {
  padding: 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 50px;
}

#add-form-container h2 {
  color: #f03e3e;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

#add-form-container form label {
  font-weight: bold;
}

#add-form-container form input,
#add-form-container form textarea {
  border: 2px solid #ccc;
  background-color: #f8f9fa;
}

#form-box button {
  height: 50px;
  width: 200px;
  background-color: #f03e3e;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-top: 20px;
}
